Repository AkseliManninen/lunssi: changes, and which lefthook commands are due for each by the changed paths.
All: format-frontend, format-backend

format-frontend:
  run: node frontend/node_modules/@biomejs/biome/bin/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files} --config-path frontend/biome.json
  stage_fixed: true

format-backend:
  run: black --line-length 100 {staged_files}
  stage_fixed: true

fix: add different meta title from h1
  frontend/app/[locale]/[region]/page.tsx
  frontend/app/[locale]/layout.tsx
  frontend/locales/en.json
  frontend/locales/fi.json
Due: format-frontend

fix: cursor pointer for show more button
  frontend/components/RestaurantCard.tsx
Due: format-frontend

fix: static site generation
  frontend/app/[locale]/[region]/page.tsx
  frontend/app/[locale]/layout.tsx
Due: format-frontend

Update documentation
  docs/contact-mail.md
  docs/google-analytics.md
Due: none

fix: kansis english scraper
  backend/scrapers/kansis.py
Due: format-backend

chore: upgrade frontend dependencies
  biome.json
  frontend/app/[locale]/[region]/page.tsx
  frontend/next.config.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/proxy.ts
  frontend/tsconfig.json
Due: format-frontend

chore: remove bruuveri
  backend/scrapers/__init__.py
  backend/scrapers/bruuveri.py
Due: format-backend

chore: update next to patch critical vulnerability
  frontend/package-lock.json
  frontend/package.json
Due: format-frontend

fix: backend error handling
  backend/main.py
Due: format-backend

fix: que em get pdf link
  backend/scrapers/queem.py
Due: format-backend

fix: update Pompier Albertinkatu scraper URL and accordion filter
  backend/scrapers/pompier_albertinkatu.py
Due: format-backend

update: hämis price increase
  backend/scrapers/hamis.py
Due: format-backend

Move hosting from fly.io to Cloudflare Pages with daily static rebuilds
  .github/workflows/build-and-deploy.yml
  .github/workflows/deploy.yml
  .github/workflows/revalidate.yml
  backend/.dockerignore
  backend/Procfile
  backend/fly.toml
  backend/generate_static_data.py
  backend/scrapers/__init__.py
  backend/scrapers/bistro_tammer.py
  backend/scrapers/stahlberg.py
  backend/utils/constants.py
  frontend/.dockerignore
  frontend/.env.example
  frontend/.gitignore
  frontend/Dockerfile
  frontend/app/[locale]/[region]/page.tsx
  frontend/app/[locale]/page.tsx
  frontend/app/api/revalidate/route.ts
  frontend/app/sitemap.ts
  frontend/fly.toml
  frontend/lib/restaurants.ts
  frontend/next.config.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/proxy.ts
  frontend/public/_redirects
  tasks/dev.yml
Due: format-frontend, format-backend

chore: update package-lock.json
  frontend/package-lock.json
Due: format-frontend

docs: update README and custom-domain doc for Cloudflare Pages hosting
  README.md
  docs/custom-domain.md
Due: none

fix: offset scrape workflow cron off the top of the hour
  .github/workflows/build-and-deploy.yml
Due: none

feat: add back Bruuveri lunch menu scraper
  backend/scrapers/__init__.py
  backend/scrapers/bruuveri.py
Due: format-backend

fix: keep dropdown chevron aligned to select on narrow screens
  frontend/components/LanguageChanger.tsx
  frontend/components/RegionChanger.tsx
Due: format-frontend

feat: show which day the lunch menus are for
  backend/generate_static_data.py
  frontend/app/[locale]/[region]/page.tsx
  frontend/lib/restaurants.ts
  frontend/locales/en.json
  frontend/locales/fi.json
Due: format-frontend, format-backend

chore: temporarily drop cron schedule to force re-registration
  .github/workflows/build-and-deploy.yml
Due: none

Revert "chore: temporarily drop cron schedule to force re-registration"
  .github/workflows/build-and-deploy.yml
Due: none

fix: follow redirects in scrapers and update Karljohan lunch URL
  backend/scrapers/base.py
  backend/scrapers/karljohan.py
Due: format-backend

fix: ståhlberg scraper
  backend/scrapers/stahlberg.py
Due: format-backend

feat: add Ravintola Tampella scraper
  backend/scrapers/__init__.py
  backend/scrapers/tampella.py
Due: format-backend

chore: remove github scheduling
  .github/workflows/build-and-deploy.yml
Due: none

feat: add Jätkäsaari region restaurants
  backend/scrapers/__init__.py
  backend/scrapers/da_spizzico.py
  backend/scrapers/mount_kailash.py
  backend/scrapers/via_tribunali.py
  backend/utils/constants.py
  frontend/utils/constants.ts
Due: format-frontend, format-backend

fix: add missing Jätkäsaari redirect rule for Cloudflare Pages
  frontend/public/_redirects
Due: none

Path conditions:
  format-frontend: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  format-backend: any of: *.py
