Repository AkseliManninen/lunssi: changes, and which lefthook commands are due for each by the changed paths.
All: format-frontend, format-backend

lefthook.yml:

pre-commit:
  commands:
    format-frontend:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: node frontend/node_modules/@biomejs/biome/bin/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files} --config-path frontend/biome.json
      stage_fixed: true

    format-backend:
      glob: "*.py"
      run: black --line-length 100 {staged_files}
      stage_fixed: true

feat: add footer
  frontend/app/[locale]/[region]/page.tsx
  frontend/app/[locale]/layout.tsx
  frontend/assets/icons/github.svg
  frontend/components/Footer.tsx
  frontend/locales/en/translation.json
  frontend/locales/fi/translation.json
Due: format-frontend

Add a doc about adding a custom domain
  docs/custom-domain.md
Due: none

Update README
  README.md
Due: none

Fix record type name
  docs/custom-domain.md
Due: none

Update url in metadata
  frontend/app/[locale]/[region]/page.tsx
  frontend/app/[locale]/layout.tsx
Due: format-frontend

fix: don't include default region in path
  frontend/app/[locale]/[region]/page.tsx
  frontend/components/RegionChanger.tsx
Due: format-frontend

Add favicon
  frontend/public/favicon.ico
Due: none

Clean favicon
  frontend/public/favicon.ico
Due: none

fix: valssi restaurant scraper
  backend/get_lunch_info.py
Due: format-backend

chore: use next-international for i18n
  frontend/app/[locale]/[region]/page.tsx
  frontend/app/[locale]/layout.tsx
  frontend/app/[locale]/page.tsx
  frontend/app/i18n.ts
  frontend/components/Footer.tsx
  frontend/components/LanguageChanger.tsx
  frontend/components/RegionChanger.tsx
  frontend/components/RestaurantCard.tsx
  frontend/components/TranslationProvider.tsx
  frontend/i18nConfig.ts
  frontend/locales/client.ts
  frontend/locales/en.ts
  frontend/locales/en/translation.json
  frontend/locales/fi.ts
  frontend/locales/fi/translation.json
  frontend/locales/server.ts
  frontend/middleware.ts
  frontend/package-lock.json
  frontend/package.json
Due: format-frontend

Define max machines
  backend/fly.toml
  frontend/fly.toml
Due: none

chore: update documentation and meta information
  README.md
  frontend/locales/en.ts
  frontend/locales/fi.ts
Due: format-frontend

use correct grammar
  README.md
Due: none

Add a contact email
  frontend/components/Footer.tsx
  frontend/locales/en.ts
  frontend/locales/fi.ts
Due: format-frontend

Add contact information to README.md
  README.md
Due: none

Add a google analytics tag
  frontend/.env.example
  frontend/app/_document.tsx
Due: format-frontend

Remove max machines running
  backend/fly.toml
  frontend/fly.toml
Due: none

chore: install gtm with next/third-parties
  frontend/app/[locale]/layout.tsx
  frontend/app/_document.tsx
  frontend/package-lock.json
  frontend/package.json
Due: format-frontend

Replace GA tracking id with GTM container id
  frontend/.env.example
  frontend/app/[locale]/layout.tsx
Due: format-frontend

fix: que em scraper by scraping menu pdf url
  backend/get_lunch_info.py
Due: format-backend

Add favicon source image
  frontend/public/favicon-source-image.png
  frontend/public/next.svg
  frontend/public/vercel.svg
Due: none

chore: update price for Hanken
  backend/get_lunch_info.py
Due: format-backend

feat: add sitemap.xml
  frontend/app/robots.txt
  frontend/app/sitemap.ts
Due: format-frontend

feat: add restaurant Karljohan
  backend/get_lunch_info.py
Due: format-backend

chore: upgrade tailwind to v4
  frontend/components/LanguageChanger.tsx
  frontend/components/RegionChanger.tsx
  frontend/components/RestaurantCard.tsx
  frontend/package-lock.json
  frontend/package.json
  frontend/postcss.config.mjs
  frontend/styles/globals.css
  frontend/tailwind.config.ts
Due: format-frontend

fix: kansis scraper
  backend/get_lunch_info.py
Due: format-backend

chore: make task:dev default task run both front and backend
  tasks/dev.yml
Due: none

chore: add <main> html tag for improved semantic structure
  frontend/app/[locale]/[region]/page.tsx
Due: format-frontend

chore: only overflow footer if no space on screen
  frontend/app/[locale]/[region]/page.tsx
  frontend/styles/globals.css
Due: format-frontend

feat: add support for discounts
  backend/get_lunch_info.py
  backend/main.py
  frontend/app/[locale]/[region]/page.tsx
  frontend/assets/icons/discount.svg
  frontend/assets/icons/github.svg
  frontend/components/RestaurantCard.tsx
Due: format-frontend, format-backend

Refactor scrapers into modules
  backend/get_lunch_info.py
  backend/scrapers/__init__.py
  backend/scrapers/base.py
  backend/scrapers/bruuveri.py
  backend/scrapers/faasai.py
  backend/scrapers/hamis.py
  backend/scrapers/hanken.py
  backend/scrapers/kansis.py
  backend/scrapers/karljohan.py
  backend/scrapers/plaza.py
  backend/scrapers/pompier_albertinkatu.py
  backend/scrapers/queem.py
  backend/scrapers/stahlberg.py
  backend/scrapers/valssi.py
Due: format-backend

Reorder imports and rename hämis to hamis
  backend/scrapers/__init__.py
Due: format-backend

Add bistro tammer
  backend/scrapers/__init__.py
  backend/scrapers/bistro_tammer.py
Due: format-backend

Add puisto
  backend/scrapers/__init__.py
  backend/scrapers/puisto.py
Due: format-backend

fix: kansis menu scraper
  backend/scrapers/kansis.py
Due: format-backend

Add google map locations
  backend/scrapers/base.py
  backend/scrapers/bistro_tammer.py
  backend/scrapers/bruuveri.py
  backend/scrapers/faasai.py
  backend/scrapers/hamis.py
  backend/scrapers/hanken.py
  backend/scrapers/kansis.py
  backend/scrapers/karljohan.py
  backend/scrapers/plaza.py
  backend/scrapers/pompier_albertinkatu.py
  backend/scrapers/puisto.py
  backend/scrapers/queem.py
  backend/scrapers/stahlberg.py
  backend/scrapers/valssi.py
Due: format-backend

Add an icon for location and link to google maps
  backend/main.py
  backend/scrapers/base.py
  backend/scrapers/bistro_tammer.py
  frontend/app/[locale]/[region]/page.tsx
  frontend/assets/icons/map-pin.svg
  frontend/components/RestaurantCard.tsx
  frontend/locales/en.ts
  frontend/locales/fi.ts
Due: format-frontend, format-backend

Make variable namings more consistent and reorder alphabetically
  backend/main.py
  backend/scrapers/base.py
  frontend/app/[locale]/[region]/page.tsx
  frontend/components/RestaurantCard.tsx
Due: format-frontend, format-backend

Make restaurant name clickable link that leads to the menu
  backend/main.py
  frontend/app/[locale]/[region]/page.tsx
  frontend/components/RestaurantCard.tsx
Due: format-frontend, format-backend

chore: switch to next-intl for i18n and upgrade deps
  biome.json
  frontend/app/[locale]/[region]/page.tsx
  frontend/app/[locale]/layout.tsx
  frontend/app/[locale]/page.tsx
  frontend/app/api/revalidate/route.ts
  frontend/biome.json
  frontend/components/Footer.tsx
  frontend/components/LanguageChanger.tsx
  frontend/components/RegionChanger.tsx
  frontend/components/RestaurantCard.tsx
  frontend/i18n/request.ts
  frontend/i18n/routing.ts
  frontend/i18nConfig.ts
  frontend/lib/restaurants.ts
  frontend/locales/client.ts
  frontend/locales/en.json
  frontend/locales/en.ts
  frontend/locales/fi.json
  frontend/locales/fi.ts
  frontend/locales/server.ts
  frontend/middleware.ts
  frontend/next.config.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/utils/helpers.ts
  lefthook.yml
Due: format-frontend
