Repository AkseliManninen/lunssi: changes, and which lefthook commands are due for each by the changed paths.
All: format-frontend, format-backend

format-frontend:
  run: node frontend/node_modules/@biomejs/biome/bin/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files} --config-path frontend/biome.json
  stage_fixed: true

format-backend:
  run: black --line-length 100 {staged_files}
  stage_fixed: true

feat: improve looks
  frontend/app/[locale]/page.tsx
  frontend/assets/icons/chevron-down.svg
  frontend/assets/icons/chevron-up.svg
  frontend/components/LanguageChanger.tsx
  frontend/components/RestaurantCard.tsx
  frontend/locales/en/translation.json
  frontend/locales/fi/translation.json
  frontend/next.config.mjs
  frontend/package-lock.json
  frontend/package.json
Due: format-frontend

fix: pompier scraper
  backend/get_lunch_info.py
Due: format-backend

feat: fetch and scrape menus in parallel
  backend/get_lunch_info.py
  backend/main.py
  backend/requirements.txt
  frontend/app/[locale]/page.tsx
  frontend/components/RestaurantCard.tsx
Due: format-frontend, format-backend

Run 1 machine minimum front and back
  backend/fly.toml
  frontend/fly.toml
Due: none

fix: increase httpx client timeout
  backend/get_lunch_info.py
Due: format-backend

feat: add metadata
  frontend/app/[locale]/layout.tsx
  frontend/app/[locale]/page.tsx
  frontend/locales/en/translation.json
  frontend/locales/fi/translation.json
Due: format-frontend

docs: initialize project with task
  README.md
  Taskfile.yml
  backend/Makefile
  tasks/dev.yml
  tasks/init.yml
Due: none

docs: improve readme setup instruction clarity
  README.md
Due: none

docs: update pull_request_template.md
  .github/pull_request_template.md
Due: none

docs: add LICENSE
  LICENSE
Due: none

feat: add hanken scraper
  backend/get_lunch_info.py
  backend/main.py
Due: format-backend

Update README.md
  README.md
Due: none

Resolve conflicts
  backend/get_lunch_info.py
  backend/main.py
Due: format-backend

Update .gitignore
  backend/.gitignore
Due: none

feat: add region selector to frontend
  frontend/app/[locale]/page.tsx
  frontend/components/RegionChanger.tsx
  frontend/locales/en/translation.json
  frontend/locales/fi/translation.json
Due: format-frontend

Add chilicorn to README.md
  README.md
Due: none

Add error handling to queem
  backend/get_lunch_info.py
Due: format-backend

Fix queem error handling
  backend/get_lunch_info.py
Due: format-backend

Add general error handling
  backend/get_lunch_info.py
Due: format-backend

fix: static site generation with regions
  frontend/app/[locale]/[region]/page.tsx
  frontend/app/[locale]/page.tsx
  frontend/components/RegionChanger.tsx
  frontend/lib/restaurants.ts
  frontend/utils/constants.ts
Due: format-frontend

Add CD workflow using github actions
  .github/workflows/deploy.yml
Due: none

chore: upgrade to next v15
  frontend/app/[locale]/[region]/page.tsx
  frontend/app/[locale]/layout.tsx
  frontend/app/[locale]/page.tsx
  frontend/next.config.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/tsconfig.json
Due: format-frontend

fix: CI job indent
  .github/workflows/deploy.yml
Due: none

ci: use flyctl-actions to set up fly cli
  .github/workflows/deploy.yml
Due: none

ci: fix run key indentation
  .github/workflows/deploy.yml
Due: none

Update deploy.yml
  .github/workflows/deploy.yml
Due: none

ci: fix frontend deployment
  .github/workflows/deploy.yml
  frontend/Dockerfile
Due: none

fix: add revalidate to index page
  frontend/app/[locale]/page.tsx
Due: format-frontend

fix: que em menu urls
  backend/get_lunch_info.py
Due: format-backend

chore: add dependabot config
  .github/dependabot.yml
Due: none

feat: add student cantine icon
  backend/get_lunch_info.py
  backend/main.py
  frontend/app/[locale]/[region]/page.tsx
  frontend/assets/icons/graduation-cap.svg
  frontend/components/RestaurantCard.tsx
  frontend/locales/en/translation.json
  frontend/locales/fi/translation.json
Due: format-frontend, format-backend

feat: add valssi in tampere
  backend/get_lunch_info.py
Due: format-backend

Add manual deployment trigger
  .github/workflows/deploy.yml
Due: none

fix: seo issues with canonical link and robots
  frontend/app/[locale]/[region]/page.tsx
  frontend/app/[locale]/layout.tsx
  frontend/app/i18n.ts
  frontend/app/robots.txt
  frontend/components/LanguageChanger.tsx
  frontend/i18nConfig.ts
  frontend/utils/helpers.ts
Due: format-frontend

chore: remove eslint from deps
  frontend/.eslintrc.json
  frontend/package-lock.json
  frontend/package.json
Due: format-frontend

chore: add revalidate API route and revalidate CI job
  .github/workflows/revalidate.yml
  frontend/app/api/revalidate/route.ts
Due: format-frontend

fix: fit student icon popup on smaller screens
  frontend/components/RestaurantCard.tsx
Due: format-frontend

fix: show tooltip only on hover
  frontend/components/RestaurantCard.tsx
Due: format-frontend

feat: add roboto font
  frontend/app/[locale]/layout.tsx
Due: format-frontend

Path conditions:
  format-frontend: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  format-backend: any of: *.py
